
@{
    ViewBag.Title = "UnAllocateClassRoom";
}
<section class="content-header">
    <h1>
        Course
        <small>Unassign Courses</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Course</a></li>
        <li class="active">Unassign Courses</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-xs-2"></div>
        <div class="col-xs-8">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Unassign Courses:</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-horizontal", id = "UnAllocateClassRoom" }))
                    {
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="unAllocateClassRoom"></label>
                            <div class="col-md-4">
                                <button id="unAllocateClassRoom" onclick="return confirm('You are unallocationg all classrooms ,Are you sure?');" name="unAllocateClassRoom" class="btn btn-primary">Unallocate ClassRoom</button>
                            </div>
                        </div>
                    }
                </div>
                <div class="box-footer ">

                    <div class="form-group">
                        <label class="col-md-4 control-label"></label>
                        <div class="col-md-4 ">
                            @if (ViewBag.Message != null)
                            {
                                if (ViewBag.Message == "Room unallocated")
                                {
                                    <label style="color:green">@ViewBag.Message</label>
                                }
                                else
                                {
                                    <label style="color:red">@ViewBag.Message</label>
                                }

                            }
                        </div>
                    </div>

                </div>
                <!-- /.box-body -->
            </div>
        </div>
    </div>
</section>
