@using UniversityCourseAndResultManagementApp.Models

@{
    ViewBag.Title = "SaveResult";
}


<section class="content-header">
    <h1>
        Result
        <small>Save result</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Result</a></li>
        <li class="active">Save result</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-7">
            <!-- Horizontal Form -->
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Enter result info:</h3>
                </div>
                <form class="form-horizontal" method="POST" id="SaveResult">
                    <div class="box-body">

                        <div class="form-group">
                            <label class="control-label col-sm-2" for="Id">Reg No</label>
                            <div class="col-sm-6">
                                <select id="Id" name="Id" class="form-control" onchange="">
                                    <option value="">Select</option>

                                    @foreach (Student student in ViewBag.students)
                                    {
                                        <option value="@student.Id">@student.RegNo</option>
                                    }


                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-2" for="Name">Name</label>
                            <div class="col-sm-6">
                                <input id="Name" name="Name" class="form-control" readonly="readonly" />

                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-2" for="Email">Email</label>
                            <div class="col-sm-6">
                                <input id="Email" name="Email" class="form-control" readonly="readonly" />

                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-2" for="Code">Department</label>
                            <div class="col-sm-6">
                                <input id="Code" name="Code" class="form-control" readonly="readonly" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-2" for="CourseId">Select Course</label>
                            <div class="col-sm-6">
                                <select id="CourseId" name="CourseId" class="form-control"></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="Grade">Grade</label>
                            <div class="col-sm-6">
                                <select id="Grade" name="Grade" class="form-control">
                                    <option value="">Select</option>
                                    <option value="A+">A+</option>
                                    <option value="A">A</option>
                                    <option value="A-">A-</option>
                                    <option value="B+">B+</option>
                                    <option value="B">B</option>
                                    <option value="B-">‎B-</option>
                                    <option value="C+">‎C+</option>
                                    <option value="C">‎C</option>
                                    <option value="C-">C-</option>
                                    <option value="D+">‎D+</option>
                                    <option value="D">‎D</option>
                                    <option value="D-">‎D-</option>

                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-6">
                            </div>
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-primary">Save</button>
                            </div>
                        </div>
                        

                    </div>
                
                    <!-- /.box-body -->
                    <div class="box-footer ">
                        @if (ViewBag.msg != null)
                        {
                            if (ViewBag.msg == "Course result saved")
                            {
                                <label class="col-sm-7" style="color: green">@ViewBag.msg</label>

                            }
                            else
                            {
                                <label class="col-sm-7" style="color: red">@ViewBag.msg</label>

                            }

                        }


                        
                    </div>
                    <!-- /.box-footer -->

                </form>
            </div>

        </div>
    </div>
</section>
<!-- /.content-wrapper -->
<!-- ./wrapper -->
<!-- jQuery 2.2.3 -->
@*<script src="~/Scripts/jquery-2.2.3.min.js"></script>*@
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<!-- Bootstrap 3.3.6 -->
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<script>
    $(document).ready(function() {
        $("#Id").change(function() {
            var id = $("#Id").val();
            $("#Name").empty();
            $("#Email").empty();
            $("#Code").empty();
            $("#CourseId").empty();
            $("#CourseId").append('<option value="">Select</option>');
            var json = { Id: id };
            $.ajax({
                type: "POST",
                url: '/Enroll/GetStudentInformation',
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(json),
                success: function(data) {
                    $("#Name").val(data.Name);
                    $("#Email").val(data.Email);
                    $("#Code").val(data.Code);
                    $.each(data.Courses, function(key, value) {
                        $("#CourseId").append('<option value="' + value.Id + '">' + value.Name + '</option>');

                    });
                }
            });
        });

        $("#SaveResult").validate({
            rules: {
                Id: "required",
                CourseId: "required",
                Grade: "required"

            },
            messages: {
                Id: "Please select Student Reg No",
                CourseId: "Please select any Course",
                Grade: "Please select any grade"
            }
        });

    });
</script>

<script src="~/Scripts/bootstrap.min.js"></script>
@*<script src="~/Scripts/bootstrap2/js/bootstrap.min.js"></script>*@
<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
<script>
    $.widget.bridge('uibutton', $.ui.button);
</script>


